*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    color: rgb(216, 216, 224);
    font-size: 32px;
    background-color: rgb(11, 25, 101);
    text-align: center;
}
h2{
    font-size: 24px;
    background-color: rgb(11, 25, 101);
    color: rgb(216, 216, 224);


}

ul{
    list-style: circle;
}
#container{
align-items: center;
display: block;
max-width: 800px;
margin: 0px auto;
border: 2px solid black;

}
#foto{
text-align: center;
}
#ingredientes, #procedimentos{
    font-size: 18px;
}
#link{
    text-align: right;
    padding: 30px;
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }