*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

header h1 {
    color: rgb(216, 216, 224);
    font-size: 32px;
    background-color: rgb(11, 25, 101);
    text-align: center;
}
h2{
    font-size: 24px;
    background-color: rgb(11, 25, 101);
    color: rgb(216, 216, 224);


}

ul{
    list-style: circle;
}
#container{
align-items: center;
display: block;
max-width: 800px;
margin: 0px auto;
border: 2px solid black;

}
#foto{
text-align: center;
}
