/* Descrição:
No index.html, do Exercício 1 (M1S01E1), adicione um arquivo CSS e mude
 o estilo do título de nível 1 para que a fonte seja Verdana, 
 com tamanho de 20 pixels e cor marrom (ou outra de sua preferência). */

h1{
    font-family: 'Verdana';
    font-size: 20px;
    color: brown;
}

body{
    background-color: yellow;
}
p{
    font-size: 14px;
}

/* 
Nesse mesmo documento, utilizando CSS:
Centralize o título;
Mude a cor de fundo da página para amarelo (ou outra de sua preferência);
Mude o tamanho da fonte dos parágrafos para 14 pixels. */