h1 {
  font-family: "Verdana";
  font-size: 20px;
  color: brown;
}

body {
  background-color: yellow;
}
p {
  font-size: 14px;
}

#btnAvancar {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;


}
#imgAvancar{
max-width: 15px;
}