* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main{
  margin-top: 56px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: end;
  width: 100%;
  background-color: rgb(0, 0, 0);

  overflow: hidden;
  position: fixed; 
  top: 0; 
}

#logo {
  margin: 5px;
  width: 50px;
  border-radius: 50%;
}
nav ul {
  display: flex;
  margin: 5px;
  list-style: none;
}
nav ul li {
  margin: 5px;
}
 /* unvisited link */
 a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 255);
  transition: all 0.3s ease-out;
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 255);
  transition: all 0.3s ease-out;
} 
#h1TituloIndex {
  font-family: "Verdana";
  font-size: 20px;
  color: brown;
  text-align: center;
  background-image: url("img/fondoH1.jpeg");
}

body {
  background-color: yellow;
}
p {
  font-size: 14px;
}

#btnAvancar {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}
#imgAvancar {
  max-width: 15px;
}

#videoYouTube {
  width: 500px;
}

footer{
  color: white;
  background-color: cornflowerblue;
text-align: center
;}